<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"> <!-- Agregar esta línea -->
    <title>Bienvenido a Ani-Medical</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='img/icono.ico') }}" type="image/x-icon">
</head>
<body >
    <!-- Logo de la veterinaria -->
    <img src="{{ url_for('static', filename='img/logo.png') }}" alt="Logo de Ani-Medical Centro Veterinario" class="logo">
    <div class="button-container imprimir">
    <h1>Registro de Historias Clínicas</h1>
    </div>
    <br>
    {% block content %}{% endblock %}
    <!-- Pie de página -->
    <footer>
        <p style="text-align: center;">v. 4.2.1</p>
    </footer>
</body>
</html>
