<!-- tipo_historia.html -->
{% extends "base.html" %}
{% block content %}
    <h1>Escoja el Tipo de Historia Clínica:</h1>
    <div class="button-container">
        <a href="{{ url_for('nueva_historia') }}" class="btn secondary-btn large-btn">Historia Clínica General</a>
        <span style="margin-right: 10px;"></span> <!-- Agrega un espacio entre los botones -->
        <a href="{{ url_for('nueva_historia_d') }}" class="btn secondary-btn large-btn">Historia Clínica Dermatológica</a>
    </div>
    <br><br>
    <a href="{{ url_for('index') }}" class="btn secundary-btn">Volver</a>
{% endblock %}
