{% extends "base.html" %}

{% block content %}
    <h1>Buscar Historia Clínica General</h1>
    <form method="POST" onsubmit="return validateForm()">
        Cédula: <input type="text" name="cedula" id="cedula" required>
        <span id="cedulaError" style="color: red;"></span><br>
        
        <div class="button-container">
            <input type="submit" value="Buscar Historia" class="btn">
            <span style="margin-right: 10px;"></span>
            <a href="javascript:history.back()" class="btn secundary-btn">Volver</a>
        </div>
    </form>

    <script>
        function validateForm() {
            var cedula = document.getElementById("cedula").value;
    
            // Preguntamos si la cedula consta de 10 digitos
            if (cedula.length == 10) {
                // Obtenemos el digito de la region que son los dos primeros digitos
                var digito_region = cedula.substring(0, 2);
    
                // Pregunto si la region existe, Ecuador se divide en 24 regiones
                if (digito_region >= 1 && digito_region <= 24) {
                    // Extraigo el ultimo digito
                    var ultimo_digito = cedula.substring(9, 10);
    
                    // Agrupo todos los pares y los sumo
                    var pares = parseInt(cedula.substring(1, 2)) + parseInt(cedula.substring(3, 4)) +
                                parseInt(cedula.substring(5, 6)) + parseInt(cedula.substring(7, 8));
    
                    // Agrupo los impares, los multiplico por un factor de 2,
                    // si la resultante es > que 9 le restamos el 9 a la resultante
                    var impares = 0;
                    for (var i = 0; i < 9; i += 2) {
                        var numero = parseInt(cedula.substring(i, i + 1)) * 2;
                        impares += (numero > 9) ? (numero - 9) : numero;
                    }
    
                    // Suma total
                    var suma_total = pares + impares;
    
                    // Extraemos el primer digito
                    var primer_digito_suma = String(suma_total).substring(0, 1);
    
                    // Obtenemos la decena inmediata
                    var decena = (parseInt(primer_digito_suma) + 1) * 10;
    
                    // Obtenemos la resta de la decena inmediata - la suma_total
                    // Esto nos da el digito validador
                    var digito_validador = decena - suma_total;
    
                    // Si el digito validador es igual a 10, toma el valor de 0
                    if (digito_validador == 10)
                        digito_validador = 0;
    
                    // Validamos que el digito validador sea igual al de la cedula
                    if (digito_validador == ultimo_digito) {
                        alert("Cédula correcta");
                        return true;
                    } else {
                        alert("Cédula incorrecta");
                        return false;
                    }
                } else {
                    alert("Cédula incorrecta");
                    return false;
                }
            } else {
                alert("Esta cedula tiene menos de 10 dígitos");
                return false;
            }
        }
    </script>
{% endblock %}
